<%= form_for(@suitcase) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :duration %>
    <%= f.number_field :duration, :required => true %>
  </div>




  <div class="field">
    <%= f.label :destination %>
    <%= f.text_field :destination, :required => true %>
  </div>

  <div class="field">
    <%= f.hidden_field :user_id %>
  </div>

  <div class="field">
    <%= f.submit %>
  </div>

<% end %>
