<h1>Suitcases</h1>

<p>
  <% @suitcases.each do |suitcase| %>
    <ul>
      <li class="suitcase-details"><%= link_to suitcase.name, suitcase %></li>
      <li class="suitcase-details"><%= suitcase.description %></li>
      <li class="suitcase-details">Duration: <%= suitcase.duration %> days</li>
      <li class="suitcase-details">Destination: <%= suitcase.destination %></li>
      <% suitcase.items.each do |item| %>
      <li class="suitcase-item"> <%= item.name %></li>
      <li class="suitcase-item"> <%= item.image %></li>
      <% end %>
    </ul>
  <% end %>
</p>

<p class="back-button"><%= link_to "Back", user_path(current_user) %></p>
