  <div id="suitcase-show-body">

    <div id="suitcase-main">

      <h1 class="suitcase-destination"><%= @suitcase.destination %></h1>
      <h3 class="suitcase-title"><%= @suitcase.name %></h3>
      <ul class="suitcase">
        <li class="suitcase-details">Duration: <%= @suitcase.duration %> days</li>
        <li class="suitcase-details">Details: <%= @suitcase.description %></li>
      </ul>


      <div class="weather">
      </div>

      <!--  added data suitcase id so we know which one it is  -->

    <ul id="sortable1" data-suitcase-id='<%=@suitcase.id%>' class="connectedSortable"> <div></div>
      <li class="ui-state-default"></li>
    </ul>

    <p><%= @weather %></p>

      <!-- <div class="links">
        <p><%= link_to 'Back', user_path(current_user) %></p>
        <p><%= link_to 'Edit Suitcase', edit_suitcase_url(@suitcase) %></p>
        <p><%= link_to 'Delete Suitcase', @suitcase, method: :delete, data: {confirm: "Are you sure?"} %></p>
      </div> -->

    <div class="notes">
    </div>

      <a id="open-nav">Open Suitcase</a>
    </div>
  <!-- side nav pops out when clicking suitcase  -->
    <div id="suitcase-side-nav" class="sideNav">
      <div class="side-nav-buttons">
        <div class="clothes-types">
          <a class="dress-button">Dresses/Onesies</a>
          <a class="tops-bottoms">Tops/Bottoms</a>
        </div>
        <div class="main-buttons">
          <a id="view-all">View All &nbsp;&nbsp;&nbsp;|</a>
          <a id="add-items">&nbsp;&nbsp; Add&nbsp;Items</a>
          <a id="outfit-checker-button">&nbsp;&nbsp; Outfit&nbsp;Checker</a>
          <a id="close-nav">X</a>
        </div>
      </div>

      <div class="outfit-checker-container">
        <%= render 'outfitchecker' %>
      </div>

      <div id="items-grid-container">
      </div>

      <div id="view-all-in-suitcase-container">
        <%= form_tag destroy_multiple_items_suitcases_path, id: "delete-suitcase-item", method: :delete do %>
          <% @suitcase.items.each do |item| %>
            <div class="view-all-items">
              <label class="selected-item">
                <span><%= image_tag(item.image) %></span>
                <span class="check-box"><%= check_box_tag "items[]", item.id %></span>
              </label>
            </div>
            <% end %>
          <%= button_tag(type: 'submit', :name => 'suitcase_id', :value => @suitcase.id, :class => 'delete-button' ) do %>
            Delete Selected
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
