<div class="modal-user">

<%= form_for @wardrobe, :html => {:id => "modal-form"} do |f| %>
<button type="button" class="close">x</button>
<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.hidden_field :user_id %>
</div>

<%= f.submit  %>

<% end %>

<p><%= link_to 'Back', user_path(current_user) %></p>

</div>
