<body class="wardrobe-show">

<div class="wardrobe-header-image">
  <h1 class="wardrobe-name"><%= @wardrobe.name %></h1>
</div>

<!-- Back/edit/delete buttons -->
<!-- Filter items -->
<div class="filter-nav">
  <div id="filter-left">
    <p class="back-button"><%= link_to 'Edit Wardrobe', edit_wardrobe_url(@wardrobe) %> |
    <%= link_to 'Delete Wardrobe', @wardrobe, method: :delete, data: {confirm: "Are you sure?"} %></p>
  </div>
  <div id="filter-right">
   <a id="all-items">All</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
   <a id="top-filter">Tops</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
   <a id="bottom-filter">Bottoms</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
   <a id="shoe-filter">Shoes</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
   <a id="dress-filter">Dresses</a>
 </div>
</div>

<!-- Search items -->
<div class="search-bar">
  <%= form_tag(items_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Items" %>
  <%= submit_tag "Search", :name => nil, :id => "search-button" %>
  <% end %>
</div>

<div class="adding-items">
  <div class="add-more-container">
   <%= button_tag :name => 'wardrobe_id', value: @wardrobe.id, :class => 'button add-item' do %>
     <%= "Add more items" %>
     <% end %>
  </div>
  <div class="adding-to-suitcase">
   <%= button_tag :id => 'drop-down-show' do %>
     <%= "Add to suitcase" %>
   <% end %>
 </div>
</div>


<% if @wardrobe.items.length == 0 %>
  <h3 class="no-items">You don't have any clothes in this wardrobe right now</h3>

  <div class="wardrobe-item-container">
    <ul class="wardrobe-item">
    </ul>
  </div>
  <div class="modal-item">
    <%= render 'items/form' %>
  </div>
<% else %>
  <%= form_tag multi_path, :id => "submit-multi" do %>



<ul class="wardrobe-item-container">

    <% @wardrobe.items.each_slice(4) do |slice| %>
    <div class="row">
      <% slice.each do |item| %>
      <div class="small-6 large-3 columns">
      <div class="wardrobe-item">
      <label class="selectd-item">
        <li class="item-details"><%= link_to image_tag(item.image), item_path(item), :class => "item-link"%></li>
        <li class="item-details check-box"><%= check_box_tag "items[#{item.id}]"%></li>
      </label>
      <li class="item-details"><%= item.name %></li>
      <li class="item-details"><%= item.description %></li>
      <!-- <%# end %> -->
    </div>
  </div>
    <% end %>
  </div>
    <% end %>
</ul>


  <!-- <ul class="wardrobe-item-container">
    <% @wardrobe.items.each do |item| %>
    <div class="wardrobe-item">
      <label class="selectd-item">
        <li class="item-details"><%= link_to image_tag(item.image), item_path(item), :class => "item-link"%></li>
        <li class="item-details check-box"><%= check_box_tag "items[#{item.id}]"%></li>
      </label>
      <li class="item-details"><%= item.name %></li>
      <li class="item-details"><%= item.description %></li>
    </div>
    <% end %>
  </ul> -->

  <ul class="filtered-tops">
    <% @wardrobe.items.each_slice(4) do |slice| %>
    <div class="row">
      <% slice.each do |item| %>
      <% if item.category.category == "Top" %>
      <div class="small-6 large-3 columns">
      <div class="wardrobe-item">
        <label class="selectd-item">
        <li class="item-details"><%= link_to image_tag(item.image), item_path(item), :class => "item-link"%></li>
        <li class="item-details check-box"><%= check_box_tag "items[#{item.id}]"%></li>
        </label>
        <li class="item-details"><%= item.name %></li>
        <li class="item-details"><%= item.description %></li>
      </div>
    </div>
    <% end %>
      <% end %>
    </div>
    <% end %>
   </ul>

  <ul class="filtered-bottoms">
    <% @wardrobe.items.each_slice(4) do |slice| %>
    <div class="row">
      <% slice.each do |item| %>
      <% if item.category.category == "Bottom" %>
      <div class="small-6 large-3 columns">
      <div class="wardrobe-item">
        <label class="selectd-item">
        <li class="item-details"><%= link_to image_tag(item.image), item_path(item), :class => "item-link"%></li>
        <li class="item-details check-box"><%= check_box_tag "items[#{item.id}]"%></li>
        </label>
        <li class="item-details"><%= item.name %></li>
        <li class="item-details"><%= item.description %></li>
      </div>
    </div>
      <% end %>
    <% end %>
  </div>
  <% end %>
  </ul>

  <ul class="filtered-dresses">
    <% @wardrobe.items.each_slice(4) do |slice| %>
    <div class="row">
      <% slice.each do |item| %>
      <% if item.category.category == "Dresses" %>
      <div class="small-6 large-3 columns">
      <div class="wardrobe-item">
        <label class="selectd-item">
        <li class="item-details"><%= link_to image_tag(item.image), item_path(item), :class => "item-link"%></li>
        <li class="item-details check-box"><%= check_box_tag "items[#{item.id}]"%></li>
        </label>
        <li class="item-details"><%= item.name %></li>
        <li class="item-details"><%= item.description %></li>
      </div>
    </div>
      <% end %>
    <% end %>
  </div>
  <% end %>
  </ul>

  <ul class="filtered-shoes">
    <% @wardrobe.items.each_slice(4) do |slice| %>
    <div class="row">
      <% slice.each do |item| %>
      <% if item.category.category == "Shoes" %>
      <div class="small-6 large-3 columns">
      <div class="wardrobe-item">
        <label class="selectd-item">
        <li class="item-details"><%= link_to image_tag(item.image), item_path(item), :class => "item-link"%></li>
        <li class="item-details check-box"><%= check_box_tag "items[#{item.id}]"%></li>
        </label>
        <li class="item-details"><%= item.name %></li>
        <li class="item-details"><%= item.description %></li>
      </div>
    </div>
      <% end %>
    <% end %>
  </div>
  <% end %>
  </ul>


  <div class="dropdown">
    <ul class="category-dropdown">
      <% @suitcases.each do |suitcase| %>
      <%= button_tag(type: 'submit', :name => 'suitcase_id', value: suitcase.id) do %>
        <%= suitcase.name %>
      <% end %>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="modal-item">
    <%= render 'items/form' %>
  </div>

<% end %>

<!-- <<<<<<< HEAD
=======
<p class="back-button"><%#= link_to "Back", user_path %> | <%#= link_to 'Edit Wardrobe', edit_wardrobe_url(@wardrobe) %> |
  <%#= link_to 'Delete Wardrobe', @wardrobe, method: :delete, data: {confirm: "Are you sure?"} %></p>
  <%#= button_tag :name => 'wardrobe_id', value: @wardrobe.id, :class => 'button add-item' do %>
    <%#= "Add more items" %>
    <%# end %>

  <%#= button_tag :id => 'drop-down-show' do %>
    <%#= "Add to suitcase" %>
  <%# end %>
>>>>>>> c41d4a35c920bc7ff1ce93a0059099ba023bab1e -->


</body>
