
    <h1><%= @user.name %></h1>

    <div class="button"><%= link_to "Edit Profile", edit_user_path(@user) %>
  </div>
</div>


<div class="info">
  <h4>
    E-mail: <%= @user.email %><br />
    <%= image_tag @user.image.url %>

  </h4>
</div>


<h1>Welcome to your wardrobes</h1>
<% if @user.wardrobes.empty? %>
<h3>You don't have a wardrobe right now</h3>
<%= link_to "Create new wardrobe", new_wardrobe_path(:user => @user.id) %>

<% else %>
<% @user.wardrobes.each do |wardrobe| %>
<%= wardrobe.name %>
<%= wardrobe.items.name %>
 <% end %>
<% end %>


<div class="wardrobelist">
  <% @user.wardrobes.each do |wardrobe| %>
  <div class="wardrobe">
    <p id="wardrobe-info">
       Wardrobe: <%= Wardrobe.find(wardrobe).name %><br>

       <div class="button">

       </div>
    </p>
  </div>
  <br><br>
  <% end %>

<!-- access the suitcases from user -->
  <h1>Welcome to your suitcases</h1>
  <% if @user.suitcases.empty? %>
  <h3>You don't have a suitcase right now</h3>
  <%= link_to "Create new suitcase", new_suitcase_path(:user => @user.id) %>

  <% else %>
  <% @user.suitcases.each do |suitcase| %>
  <%= suitcase.name %>
  <%= suitcase.items.each do |item| %>
  <%= item.name %>
  <% end %>
   <% end %>
  <% end %>


  <div class="suitcaselist">
    <% @user.suitcases.each do |suitcase| %>
    <div class="suitcase">
      <p id="suitcase-info">
         Suitcase: <%= Suitcase.find(suitcase).name %><br>

         <div class="button">

         </div>
      </p>
    </div>
    <br><br>
    <% end %>
