<html class="no-js">
<body class="user-show">
    <div class="profile">
      <h1>Hello, <%= @user.name %>!</h1>
      <div class="button"><%= link_to "Edit Profile", edit_user_path(@user) %>
    </div>


    <div class="info">
      <h4>
        E-mail: <%= @user.email %><br />
        <%= image_tag @user.image.url, id: "imageUploadForm"%>
      </h4>
    </div>



   <div class="w">
    <h1 class="hello">My wardrobes</h1>



  <ul class="allwardrobe">
    <% @user.wardrobes.each do |wardrobe| %>
      <li class="mywardrobe">
      <p>  <%= link_to wardrobe.name, wardrobe_path(wardrobe) %></p><br>
      </li>
    <% end %>
  </ul>
 <button id="new-wardrobe">Create New Wardrobe</button>
 <div class="modal-wardrobe">
  <%= form_for @wardrobe, :id => "wardrobe-from" do |f| %>
    <%= f.text_field :name, placeholder: "Wardrobe name" %> <br>
    <%= f.submit "New Wardrobe", id: "create-wardrobe" %>
  <% end %>
</div>
  </div>


    <div class="s">
    <h1 class="bye">My suitcases</h1>

    <ul class="allsuitcase">
      <% @user.suitcases.each do |suitcase| %>
        <li class="mysuitcase">
        <p>  <%= link_to suitcase.name, suitcase_path(suitcase) %></p><br>
        </li>
      <% end %>
    </ul>

    <button id="new-suitcase">Create New Suitcase</button>
    <div class="modal-suitcase">
      <form id="countryForm">
        <input id="country" name="country" autocomplete="on" placeholder="Destination Country"><br>
        <input id="city" name="city" autocomplete="on" placeholder="Destination City" data-country=""><br>
      </form>
      <%= form_for @suitcase, :id => "suitcase-form" do |f| %>
      <%= f.text_field :name, placeholder: "Suitcase name" %> <br>
      <%= f.text_area :description, placeholder: "Description" %> <br>
      <%= f.number_field :duration, placeholder: "Duration" %> <br>
      <%= f.hidden_field :destination, :id => "destination" %>
      <%= f.submit "New Suitcase", id: "create-suitcase"%>
    <% end %>

  <br>
  <br>

  </div>
</body>
</html>
