
    <h1><%= @user.name %></h1>

    <div class="button"><%= link_to "Edit Profile", edit_user_path(@user) %>
  </div>
</div>


<div class="info">
  <h4>
    E-mail: <%= @user.email %><br />
    <%= image_tag @user.image.url %>

  </h4>
</div>


<h1>Welcome to your wardrobe</h1>
<% if @user.wardrobes.empty? %>
<h3>You don't have a wardrobe right now</h3>
<%= link_to "Click here to create one", new_wardrobe_path %>
<% else %>
<% @user.wardrobes.each do |wardrobe| %>
<%= wardrobe.name %>
<%= wardrobe.items.name %>
 <% end %>
<% end %>


<h1>Create a new wardrobe</h1>


<%= form_for wardrobe_url do |f| %>
<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<%= f.submit %>

<% end %>


<div class="wardrobelist">
  <% @user.wardrobes.each do |wardrobe| %>
  <div class="wardrobe">
    <p id="wardrobe-info">
       Wardrobe: <%= Wardrobe.find(wardrobe).name %><br>

       <div class="button">

       </div>
    </p>
  </div>
  <br><br>
  <% end %>
