
    <%= image_tag "photo.jpg" %><br />
    <h1><%= @user.name %></h1>
    <%= image_tag user.image.url %>

    <div class="button"><%= link_to "Edit Profile", edit_user_path(@user) %>
  </div>
</div>


<div class="info">
  <h4>
    E-mail: <%= @user.email %><br />
    Photo: <%= @user.image %><br />
  </h4>
</div>
