<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Page</title>

    </head>


  <div class="profile">
    <h1>Hello, <%= @user.name %>!</h1>
    <div class="button"><%= link_to "Edit Profile", edit_user_path(@user) %>
  </div>


  <div class="info">
    <h4>
      E-mail: <%= @user.email %><br />
      <%= image_tag @user.image.url, id: "imageUploadForm"%>
    </h4>
  </div>



 <div class="w">
  <h1 class="hello">My wardrobes</h1>



<ul class="allwardrobe">
  <% @user.wardrobes.each do |wardrobe| %>
    <li class="mywardrobe">
    <p>  <%= link_to wardrobe.name, wardrobe_path(wardrobe) %></p><br>
    </li>
  <% end %>
</ul>

<%= form_for @wardrobe do |f| %>
  <%= f.text_field :name, placeholder: "Wardrobe name" %> <br>
  <%= f.submit "New Wardrobe", id: "create-wardrobe" %>
<% end %>

</div>



  <div class="s">
  <h1 class="bye">My suitcases</h1>

  <ul class="allsuitcase">
    <% @user.suitcases.each do |suitcase| %>
      <li class="mysuitcase">
      <p>  <%= link_to suitcase.name, suitcase_path(suitcase) %></p><br>
      </li>
    <% end %>
  </ul>

  <form id="countryForm">
    <input id="country" name="country" autocomplete="on" placeholder="Destination Country"><br>
    <input id="city" name="city" autocomplete="on" placeholder="Destination City" data-country=""><br>
  </form>
  <%= form_for @suitcase do |f| %>
    <%= f.text_field :name, placeholder: "Suitcase name" %> <br>
    <%= f.text_area :description, placeholder: "Description" %> <br>
    <%= f.number_field :duration, placeholder: "Duration" %> <br>
    <%#= f.text_field :destination, placeholder: "Destination" %> <br>
    <%= f.hidden_field :destination, :id => "destination" %>
    <%= f.submit "New Suitcase", id: "create-suitcase"%>
  <% end %>

<br>
<br>

</div>


</html>
