<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Page</title>

    </head>


  <div class="profile">
    <h1>Hello, <%= @user.name %>!</h1>
    <div class="button"><%= link_to "Edit Profile", edit_user_path(@user) %>
  </div>


  <div class="info">
    <h4>
      E-mail: <%= @user.email %><br />
      <%= image_tag @user.image.url %>
    </h4>
  </div>




        <h1 class="hello">My wardrobes</h1>

          <button class="wardrobebutton">New Wardrobe</button>


        <div class="modal">



             <form class="getstarted">
                <button type="button" class="close">x</button>
                <input type="text" name="wardrobe[name]" placeholder="Name">
                <button type="button" class="submit">submit</button>

            </form>

        </div>



       <!-- <ul class="allwardrobe">
          <li class="mywardrobe">
            <p></p> </li>
        </ul> -->



        <ul class="allwardrobe">
  <% @user.wardrobes.each do |wardrobe| %>
    <li class="mywardrobe">
    <p>  <%= link_to wardrobe.name, wardrobe_path(wardrobe) %></p><br>
    </li>
  <% end %>
</ul>

<% @user.wardrobes.each do |wardrobe| %>
<%= form_for wardrobe do |f| %>
  <%= f.text_area :name, placeholder: "Wardrobe name" %>
  <%= f.submit "New Wardrobe", id: "create-wardrobe" %>
<% end %>
<%end %>








<!-- access the suitcases from user -->
  <h1>Your Suitcases!</h1>
  <% if @user.suitcases.empty? %>
    <h3>You don't have a suitcase right now</h3>
    <%= link_to "Create new suitcase", new_suitcase_path(:user => @user.id) %>

  <% else %>
  <div class="suitcase">
    <%= link_to "View All", suitcases_path %><br>
    <%= link_to "Create new suitcase", new_suitcase_path(:user => @user.id) %>
    <div class="suitcaselist">
    <% @user.suitcases.each do |suitcase| %>
      <%= link_to suitcase.name, suitcase_path(suitcase) %><br>

    <% end %>
    </div>
  </div>
  <% end %>


</html>
