<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Page</title>

    </head>


  <div class="profile">
    <h1>Hello, <%= @user.name %>!</h1>
    <div class="button"><%= link_to "Edit Profile", edit_user_path(@user) %>
  </div>


  <div class="info">
    <h4>
      E-mail: <%= @user.email %><br />
      <%= image_tag @user.image.url %>
    </h4>
  </div>

<div class="wardrobe_list">
  <h1>Your wardrobes!</h1>
    <% if @user.wardrobes.empty? %>
      <h3>You don't have a wardrobe right now</h3>
      <%= link_to "Create new wardrobe", new_wardrobe_path(:user => @user.id) %>
      <button class="wardrobebutton">New Wardrobe</button>
      <!-- <h1 class="hello">Welcome</h1> -->

      <!-- <div class="modal">
          <form class="getstarted">
              <button type="button" class="close">x</button>
              <input type="text" name="name" placeholder="Name">
              <button type="button" class="submit">submit</button>
          </form>
      </div> -->

      <!-- <script src="js/vendor/jquery-1.11.3.min.js"></script> -->



    <% else %>
      <% @user.wardrobes.each do |wardrobe| %>
        <%= link_to wardrobe.name, wardrobe_path(wardrobe) %><br>
        <% end %>
      <p><%= link_to "Create new wardrobe", new_wardrobe_path(:user => @user.id)%><br>    </p>
        <button class="wardrobebutton">New Wardrobe</button>


        <div class="modal">
            <form class="getstarted">
                <button type="button" class="close">x</button>
                <input type="text" name="name" placeholder="Name">
                <button type="button" class="submit">submit</button>
            </form>
        </div>




    <% end %>
  </div>
  </div>


<!-- access the suitcases from user -->
  <h1>Your Suitcases!</h1>
  <% if @user.suitcases.empty? %>
    <h3>You don't have a suitcase right now</h3>
    <%= link_to "Create new suitcase", new_suitcase_path(:user => @user.id) %>

  <% else %>
  <div class="suitcase">
    <%= link_to "View All", suitcases_path %><br>
    <%= link_to "Create new suitcase", new_suitcase_path(:user => @user.id) %>
    <div class="suitcaselist">
    <% @user.suitcases.each do |suitcase| %>
      <%= link_to suitcase.name, suitcase_path(suitcase) %><br>

    <% end %>
    </div>
  </div>
  <% end %>


<html>
