<body class="edit">
<div id="user-form">
  <h1 id="editing">Edit Information</h1>

<%= form_for @user do |f| %>


  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :image %><br/>
    <%= f.file_field :image %>

    <div class="fakefield"> Upload photo
    <%= f.file_field :image, :class => 'submitting' %>
  </div>

</div> <br>



  <div class="actions">
    <%= f.submit 'Update User'%>
    <% end %>
  </div>


  <div class="actions">
    <%= link_to 'Back', user_path(@user) %>
  </div>

</div>

</body>
