  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  </head>


<body class="user-show">

  <div class ="top-of-page">

    <div class="profile">
      <div class="info">
          <%= image_tag @user.image.url, id: "imageUploadForm"%>
      </div>
      <div class="greeting">
        <h1 id="greeting">Hello, <%= @user.name %>!</h1>
        <%= link_to "Edit Profile", edit_user_path(@user), id: "myedit" %>
      </div>
    </div>

  </div>

<div class="mytabs">
  <ul class="mytab-links">
    <li class="active"><a href="#mytab1">My Wardrobes</a></li>
    <li><a href="#mytab2">My Suitcases</a><li>
  </ul>
<!-- <div class="row small-up-1 medium-up-1 large-up-2">             -->

  <div class="mytab-content">
    <div id="mytab1" class="mytab active">
      <h1 class="profile-tabtitle">My wardrobes</h1>
      <button id="new-wardrobe">Create New Wardrobe</button>
        <ul class="allwardrobe">
          <% @user.wardrobes.each do |wardrobe| %>
            <li class="mywardrobe">
              <%= link_to image_tag("mainwardrobe.png"), wardrobe_path(wardrobe), :class =>"name-wardrobe"%><br>
              <p class="wardrobename"><%= wardrobe.name %></p>
                  <!--  where the my box class is -->
                <div class="mybox" data-id ='src="/wardrobes/<%= wardrobe.id%>/thumbnail/"' width = "250px" height = "250px"></div>
            </li>
               <% end %>
        </ul>

          <div class="modal-wardrobe">
             <%= form_for @wardrobe, :id => "wardrobe-from" do |f| %>
             <button type="button" class="close">X</button>
               <%= f.text_field :name, placeholder: "Wardrobe name" %> <br>
               <%= f.submit "New Wardrobe", id: "create-wardrobe" %>
             <% end %>
           </div>

      </div>

      <div id="mytab2" class="mytab">
        <h1 class="profile-tabtitle">My suitcases</h1>
          <ul class="allsuitcase">
            <% @user.suitcases.each do |suitcase| %>
              <li class="mysuitcase">
                <%= link_to suitcase.name, suitcase_path(suitcase) %><br>
              </li>
                <% end %>
          </ul>
            <button id="new-suitcase">Create New Suitcase</button>

              <div class="modal-suitcase">
                <%= form_for @suitcase, :id => "suitcase-form" do |f| %>
                  <button type="button" class="close">x</button>
                <%= f.text_field :name, placeholder: "Suitcase name" %> <br>
                <%= f.text_area :description, placeholder: "Notes" %> <br>
                <%= f.number_field :duration, placeholder: "Duration (Days)" %> <br>
                <%= f.hidden_field :destination, :id => "destination" %>
                <form id="countryForm">
                  <input id="country" name="country" autocomplete="on" placeholder="Destination Country"><br>
                  <input id="city" name="city" autocomplete="on" placeholder="Destination City" data-country=""><br>
                  <%= f.submit "New Suitcase", id: "create-suitcase"%>
                </form>
                <div class="destination-form">
                </div>
              <% end %>
                <br>
                <br>
              </div>
      </div>
    </div>



</body>
