<%= form_for @item do |f| %>

<%if @item.errors.any? %>
  <div id="error explanation">
    <h2><%= pluralize(@item.errors.count, "error(s)") %> prohibited this item from being saved:</h2>

    <ul>
      <% @item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <%end%>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :category_id %>
    <%= collection_select(:item, :category_id, Category.all, :id, :category ) %>
  </div>

  <div class="field">
    <%= f.hidden_field :wardrobe_id %>
  </div>

  <%= f.submit %>


<% end %>
