<h1>Items#show</h1>
<p>Find me in app/views/items/show.html.erb</p>

<div>
    <ul>
      <li><%= image_tag @item.image.url %></li>
      <li><%= @item.name %></li>
      <li><%= @item.description %></li>
      <li><%= @item.category.category %></li>
      <li><%= link_to "Delete Item", item_path, method: :delete, data: {confirm: "Are you sure you want to delete this item? "} %>
        <div>
      <% @suitcases.each do |suitcase| %>
      <li><%= link_to "Add to #{suitcase.name}", items_suitcases_path(:item => @item.id, :suitcase => suitcase.id), :method => :post %></li>
      <% end %>

      </div>
    </ul>
</div>

<%= link_to "Back to Wardrobe", wardrobe_path %>
