<body class="item-page">
  <div class="item-show-modal">
<br>
<h1><%= @item.name %></h1>

<div class="item-container">
    <ul class="item-info">
      <li class="item-details"><%= image_tag @item.image.url %></li>
      <li class="item-details"><%= @item.name %></li>
      <li class="item-details"><%= @item.description %></li>
      <li class="item-details"><%= @item.category.category %></li>
      <li class="item-details"><%= link_to "Edit Item", edit_item_path(@item) %>
      <li class="item-details"><%= link_to "Delete Item", item_path, method: :delete, data: {confirm: "Are you sure you want to delete this item? "} %>

        <div class="dropdown">
        <button class="add-to-suitcase">Add to suitcase</button>
        <ul class="suitcase-dropdown">
  <%= form_tag create_item_path, :id => "item-to-suitcase" do %>
       <%= collection_select :suitcase_id, @suitcase, @suitcases, :id, :name, :html => {:class => "suitcase-select"}%></br>
       <%= button_tag(type: 'submit', :name => 'item_id', value: @item.id ) do %>
       <%= "Add!" %>
       <% end %>
     </ul>
     <% end %>
   </div>

      </ul>
      </div>
    </ul>
</div>
</div>
</body>
