<div id="suitcase-show-body">
  <div id="suitcase-main">
    <h1 class="suitcase-destination"><%= @suitcase.destination %></h1>
    <h3 class="suitcase-title"><%= @suitcase.name %></h3>
    <ul class="suitcase">
      <li class="suitcase-details">Duration: <%= @suitcase.duration %> days</li>
      <li class="suitcase-details">Details: <%= @suitcase.description %></li>
    </ul>

    <div class="links">
      <p><%= link_to 'Back', user_path(current_user) %></p>
      <p><%= link_to 'Edit Suitcase', edit_suitcase_url(@suitcase) %></p>
      <p><%= link_to 'Delete Suitcase', @suitcase, method: :delete, data: {confirm: "Are you sure?"} %></p>
      <span id="open-nav">Open Suitcase</span>
    </div>
  </div>

  <div id="suitcase-side-nav" class="sideNav">
    <p id="close-nav">X</p>
    <div id="tops" class="clothes-container">
      <h4>Tops</h4>
        <div class="tops-container">
          <% @suitcase.items.each_with_index do |item, index| %>
            <% if item.category.category == "Top" %>
                <span class="clothes-item"><%= image_tag(item.image) %></span>
            <% end %>
          <% end %>
        </div>
      </div>


      <div id="bottoms" class="clothes-container">
        <h4>Bottoms</h4>
          <div class="bottoms-container">
            <% @suitcase.items.each_with_index do |item, index| %>
              <% if item.category.category == "Bottom" %>
                  <span class="clothes-item"><%= image_tag(item.image) %></span>
              <% end %>
            <% end %>
          </div>
        </div>
    </div>
</div>
