<h1 class="suitcase-title"><%= @suitcase.name %></h1>
<ul class="suitcase">
  <li class="suitcase-details"><%= @suitcase.description %></li>
  <li class="suitcase-details">Duration: <%= @suitcase.duration %> days</li>
  <li class="suitcase-details">Destination: <%= @suitcase.destination %></li>
  <div>
    <% @suitcase.items.each do |item| %>
    <li><%= link_to item.name, item_path(item) %></li>
    <% end %>
  </div>
</ul>
<div class="links">
  <p><%= link_to 'Back', user_path(current_user) %></p>
  <p><%= link_to 'Edit Suitcase', edit_suitcase_url(@suitcase) %></p>
  <p><%= link_to 'Delete Suitcase', @suitcase, method: :delete, data: {confirm: "Are you sure?"} %></p>
</div>
