<div id="suitcase-show-body">

  <p><%= @weather %></p>

  <!-- <p class="weather"><%= @weather %></p> -->

  <div id="suitcase-main">

    <h1 class="suitcase-destination"><%= @suitcase.destination %></h1>
    <h3 class="suitcase-title"><%= @suitcase.name %></h3>
    <ul class="suitcase">
      <li class="suitcase-details">Duration: <%= @suitcase.duration %> days</li>
      <li class="suitcase-details">Details: <%= @suitcase.description %></li>
    </ul>
    <div class ="weather">
      <div class="weather-details">
      </div>
    </div>

  <ul id="sortable1" data-suitcase-id='<%=@suitcase.id%>' class="connectedSortable"> <div>Suitcase</div>
    <li class="ui-state-default">"Suitcase photo</li>
  </ul>



    <div class="links">
      <p><%= link_to 'Back', user_path(current_user) %></p>
      <p><%= link_to 'Edit Suitcase', edit_suitcase_url(@suitcase) %></p>
      <p><%= link_to 'Delete Suitcase', @suitcase, method: :delete, data: {confirm: "Are you sure?"} %></p>
    </div>


    <a id="open-nav">Open Suitcase</a>
  </div>


<!-- side nav pops out when clicking suitcase  -->
  <div id="suitcase-side-nav" class="sideNav">
    <div class="side-nav-buttons">
      <a id="other-items">Other Items</a>
      <a id="view-all">View All &nbsp;&nbsp;&nbsp;|</a>
      <a id="add-items">&nbsp;&nbsp; Add Items</a>
      <a id="outfit-checker-button">&nbsp;&nbsp; Outfit Checker</a>
      <a id="close-nav">X</a>
    </div>

    <div class="outfit-checker-container">
      <%= render 'outfitchecker' %>
    </div>

    <div id="items-grid-container">
    </div>

    <div id="view-all-in-suitcase-container">
        <% @suitcase.items.each_with_index do |item, index| %>
          <span class="clothes-item"><%= image_tag(item.image) %></span>
        <% end %>
    </div>
  </div>
</div>
