<h1><%= @wardrobe.name %></h1>
<p class="edit-delete"><%= link_to 'Edit', edit_wardrobe_url(@wardrobe) %> |
   <%= link_to 'Delete', @wardrobe, method: :delete, data: {confirm: "Are you sure?"} %></p>

   <!-- Search items -->
   <div class="search-bar">
     <%= form_tag(items_path, :method => "get", id: "search-form") do %>
     <%= text_field_tag :search, params[:search], placeholder: "Search Items" %>
     <%= submit_tag "Search", :name => nil %>
     <% end %>
   </div>

   <!-- Filter items -->
   <div class="filter-nav">
     <h3>Filter Items by Category:</h3>
     <button id="all-items">All</button>
     <button id="top-filter">Top</button>
     <button id="bottom-filter">Bottom</button>
     <button id="shoe-filter">Shoes</button>
   </div>

<% if @wardrobe.items.length == 0 %>
  <h3 class="item-details">You don't have any clothes in this wardrobe right now</h3>
  <p class="button add-item"><%= link_to "Click here to add some", new_item_path(:wardrobe => @wardrobe.id) %></p>
  <div class="wardrobe-item-container">
    <ul class="wardrobe-item">
    </ul>
  </div>
  <div class="modal-item">
    <%= render 'items/form' %>
  </div>


<% else %>
  <%= form_tag multi_path, :id => "submit-multi" do %>

  <div class="wardrobe-item-container">
    <ul class="wardrobe-item">
      <% @wardrobe.items.each do |item| %>
      <li class="item-details"><%= item.name %></li>
      <li class="item-details"><%= item.description %></li>
      <label class="selectd-item">
      <li class="item-details"><%= link_to image_tag(item.image), item_path(item), :class => "item-link"%></li>
      <li class="item-details check-box"><%= check_box_tag "items[#{item.id}]"%></li>
      </label>
      <% end %>
    </ul>
  </div>

  <ul class="filtered-tops">
    <% @wardrobe.items.each do |item| %>
      <% if item.category.category == "Top" %>
          <li class="item-details"><%= item.name %></li>
          <li class="item-details"><%= item.description %></li>
          <label class="selectd-item">
          <li class="item-details"><%= link_to image_tag(item.image), item_path(item), :class => "item-link"%></li>
          <li class="item-details check-box"><%= check_box_tag "items[#{item.id}]"%></li>
          </label>
       <% end %>
     <% end %>
   </ul>

  <ul class="filtered-bottoms">
    <% @wardrobe.items.each do |item| %>
      <% if item.category.category == "Bottom" %>
        <li class="item-details"><%= item.name %></li>
        <li class="item-details"><%= item.description %></li>
        <label class="selectd-item">
        <li class="item-details"><%= link_to image_tag(item.image), item_path(item), :class => "item-link"%></li>
        <li class="item-details check-box"><%= check_box_tag "items[#{item.id}]"%></li>
        </label>
      <% end %>
    <% end %>
  </ul>

  <ul class="filtered-shoes">
    <% @wardrobe.items.each do |item| %>
      <% if item.category.category == "Shoes" %>
        <li class="item-details"><%= item.name %></li>
        <li class="item-details"><%= item.description %></li>
        <label class="selectd-item">
        <li class="item-details"><%= link_to image_tag(item.image), item_path(item), :class => "item-link"%></li>
        <li class="item-details check-box"><%= check_box_tag "items[#{item.id}]"%></li>
        </label>
      <% end %>
    <% end %>
  </ul>

  <div class="dropdown">
    <ul class="category-dropdown">
      <% @suitcases.each do |suitcase| %>
      <%= button_tag(type: 'submit', :name => 'suitcase_id', value: suitcase.id) do %>
      <%= suitcase.name %>
      <% end %>
      <% end %>
    </ul>
  </div>

<% end %>
<%= button_tag :id => 'drop-down-show' do %>
<%= "Add to suitcase" %>
<% end %>

<%= button_tag :name => 'wardrobe_id', value: @wardrobe.id, :class => 'button add-item' do %>
<%= "Add more items" %>
<% end %>

<div class="modal-item">
  <%= render 'items/form' %>
</div>
<% end %>
<p class="back-button"><%= link_to "Back", user_path(current_user) %></p>
