<h1><%= @wardrobe.name %></h1>

<div class="search-bar">
  <%= form_tag(items_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Items" %>
  <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>

<% if @wardrobe.items.length == 0 %>
  <h3 class="item-details">You don't have any clothes in this wardrobe right now</h3>
  <p class="button add-item"><%= link_to "Click here to add some", new_item_path(:wardrobe => @wardrobe.id) %></p>
  <div class="wardrobe-item-container">
    <ul class="wardrobe-item">
    </ul>
  </div>
  <div class="modal-item">
    <%= render 'items/form' %>
  </div>


<% else %>
  <%= form_tag multi_path, :id => "submit-multi" do %>
  <div class="wardrobe-item-container">
    <ul class="wardrobe-item">
      <% @wardrobe.items.each do |item| %>
      <li class="item-details"><%= item.name %></li>
      <li class="item-details"><%= item.description %></li>
      <label class="selectd-item">
      <li class="item-details"><%= link_to image_tag(item.image), item_path(item), :class => "item-link"%></li>
      <li class="item-details check-box"><%= check_box_tag "items[#{item.id}]"%></li>
      </label>
      <% end %>
    </ul>
  </div>

  <div class="dropdown">
    <ul class="category-dropdown">
      <% @suitcases.each do |suitcase| %>
      <%= button_tag(type: 'submit', :name => 'suitcase_id', value: suitcase.id) do %>
      <%= suitcase.name %>
      <% end %>
      <% end %>
    </ul>
  </div>

<% end %>
<%= button_tag :id => 'drop-down-show' do %>
<%= "Add to suitcase" %>
<% end %>

<p class="button add-item"><%= link_to "Add more items", new_item_path(:wardrobe => @wardrobe.id) %></p>
<div class="modal-item">
  <%= render 'items/form' %>
</div>
<% end %>
<p class="back-button"><%= link_to "Back", user_path(current_user) %></p>
