<h1>Welcome to your wardrobe</h1>
<% if @wardrobe.nil? %>
<h3>You don't have any clothes in this wardrobe right now</h3>
<%= link_to "Click here to create add some", new_item_path, :wardrobe => @wardrobe.id %>
<!--  Create redirect back to wardrobe in JS -->
<% else %>
<ul class="wardrobe">
<% @wardrobe.items.each do |item| %>
<li class="items"><%= item.name %></li>
<li class="items"><%= item.description %></li>
<li class="items"><%= image_tag item.image %></li>
<% end %>
</ul>
<%= link_to "Add more items", new_item_path(:wardrobe => @wardrobe.id) %>
<!--  Create redirect back to wardrobe in JS -->
<% end %>
