<%= form_tag items_suitcases_path, :id => "submit-multi" do %>
  <div class="wardrobe-item-container">
    <ul class="wardrobe-item">

        <% @wardrobe.items.each do |item| %>
          <li class="item-details"><%= item.name %></li>
          <li class="item-details"><%= item.description %></li>
          <li class="item-details"><%= link_to image_tag(item.image), item_path(item), :class => "item-link"%></li>
          <li class="item-details"><%= check_box_tag "items[#{item.id}]"  %></li>
        <% end %>
    </ul>
  </div>

  <div class="dropdown">
    <button id="add-to-suitcase">Add to suitcase</button>
    <ul class="category-dropdown">
      <% @suitcases.each do |suitcase| %>
        <%= button_tag(type: 'submit', :name => 'suitcase_id', value: suitcase.id) do %>
        <%= suitcase.name %>
          <% end %>
      <% end %>
    </ul>
  </div>

<% end %>

<p class="button add-item"><%= link_to "Add more items", new_item_path(:wardrobe => @wardrobe.id) %></p>
